
<head>
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

  
    <style>
        .calendar-body {
            height: calc(100vh - 165px);
            width: 90%;
            padding-left: 130px;
        }

        .calendar-header {
            padding-left: 30%;
        }
    </style>
</head>
<div class="calendar-body">
    <div id="calendar"></div>
</div>
<div id="MyPopup" class="modal fade modal-CreateEvent" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @*Modal Header*@
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            @*Modal Body*@
            <div class="modal-body">

            </div>
            @*Modal Footer*@
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
